<div class="top-header py-2">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <cx-page-slot position="SiteLinks"></cx-page-slot>
      <div>
        Download our application. <a><u>Find out more</u></a>
      </div>
      <cx-page-slot
        class="d-flex align-items-center"
        position="SiteContext"
      ></cx-page-slot>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-between align-items-center">
    <cx-generic-link [url]="'/'"><img src="assets/logo.png" /></cx-generic-link>
    <cx-page-slot position="NavigationBar"></cx-page-slot>
    <cx-searchbox></cx-searchbox>
    <div class="header-icons">
      <cx-generic-link [url]="{ cxRoute: 'login' } | cxUrl"
        ><cx-icon [cxIcon]="'USER'"></cx-icon
      ></cx-generic-link>
      <cx-generic-link [url]="{ cxRoute: 'wishlist' } | cxUrl"
        ><cx-icon [cxIcon]="'EMPTY_HEART'"></cx-icon
      ></cx-generic-link>
      <cx-mini-cart></cx-mini-cart>
    </div>
  </div>
</div>
